VQA_LSTM_CNN/data_*
VQA_LSTM_CNN/lstm.t7
*.DS_Store
VQA_LSTM_CNN/data/annotations/*
VQA_LSTM_CNN/data/*.json
VQA_LSTM_CNN/data/zip/*
data/.DS_Store
*.ipynb_checkpoints*
data/SUN/*
CaffeNet/*.caffemodel
CaffeNet/*.ipynb
AlexNet/*
temp/
LearnTorch/*
*.t7
debug/*
*.caffemodel
AttributeModels/*.npy
AttributeModels/*.prototxt
AttributeModels/*.prototxt.lua

AttributeModels/*.ipynb
AttributeModels/npy/*
AttributeModels/sukrit*
AttributeModels/Sukrit/*
AttributeModels/debug/*

AttributeModels/old/*

poster/

AttributeModels/train_C_lr*
*.mat
AttributeModels/imPaths.txt
FullAttributeModel/*.ipynb

*.mdb
