VQA_LSTM_CNN/data_*
VQA_LSTM_CNN/lstm.t7
*.DS_Store
VQA_LSTM_CNN/data/annotations/*
VQA_LSTM_CNN/data/*.json
VQA_LSTM_CNN/data/zip/*
data/.DS_Store
*.ipynb_checkpoints*
AttributeModels/*
data/SUN/*
CaffeNet/*.caffemodel
AlexNet/*
temp/
LearnTorch/*
*.t7
